@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This is added now that i have hosted my page on an Azure web app. No pipeline yet but more of a test run!!!! If you are reading this it worked. </p>
</div>
